@keyframes shimmer {
  0% {background-position: 400% 0}
  100% {background-position: -600px 0}
}

@keyframes glow {
  0% {text-shadow: 0 0 1px white}
  50% {text-shadow: 0 0 0.4em white}
  100% {text-shadow: 0 0 1px white}
}

@keyframes huerotate {
  0% {filter: hue-rotate(0)}
  100% {filter: hue-rotate(360deg)}
}

@keyframes northglow {
  0% {
    background-color: var(--north-main);
  }
  45% {
    background-color: var(--north-main);
  }
  70% {
    background-color: var(--north-muted);
    border-bottom-width: 0.3em;
  }
  100% {
    background-color: var(--north-main);
  }
}
@keyframes southglow {
  0% {
    background-color: var(--south-main);
  }
  45% {
    background-color: var(--south-main);
  }
  70% {
    background-color: var(--south-muted);
    border-bottom-width: 0.3em;
  }
  100% {
    background-color: var(--south-main);
  }
}

@keyframes zoom {
  0%, 100% {
    background-size: 100% 100%;
  }
  60% {
    background-size: 150% 150%;
  }
}

@keyframes slight_wiggle {
  0%, 33%, 66%, 100% {
    background-position: 0 0;
  }
  20% {
    background-position: 0.1 0.2em;
  }
  42% {
    background-position: 0.1em -0.1em;
  }
  75% {
    background-position: -0.1em 0.05em;
  }
  88% {
    background-position: 0.1em -0.05em;
  }
}

@keyframes wiggle {
  0%, 33%, 66%, 100% {
    background-position: 0 0;
  }
  20% {
    background-position: 0 0.5em;
  }
  42% {
    background-position: 0.1em 0.3em;
  }
  75% {
    background-position: -0.1em 0.1em;
  }
  88% {
    background-position: 0.1em 0.3em;
  }
}

@keyframes rush {
  0% {
    background-position: 50em 50%;
  }
  50% {
    background-position: 50% 0.5em;
  }
  100% {
    background-position: -50em 50%;
  }
}

/* UNIT ANIMATIONS */

/* default */
[data-uistate=selected] .owned {
  animation: zoom 0.5s linear 1;
}

@keyframes antente {
  0%, 100% {
    opacity: 1;
  }
  60%, 70% {
    opacity: 0;
  }
}
[data-uistate=selected] [data-name=antente] {
  animation: antente 1.1s linear 1;
}

@keyframes burninator {
  0%, 100% {
    background-size: 100% 100%;
    background-position: 50% 50%;
  }
  5% {
    background-size: 125%;
    background-position: 95% 50%;
  }
  50% {
    background-color: hsla(5, 90%, 75%, 0.8);
  }
  95% {
    background-size: 125%;
    background-position: 5% 50%;
  }
}
[data-uistate=selected] [data-name=burninator] {
  animation: burninator 1.6s linear 1;
}

@keyframes busybody {
  0% {
    background-position: 9em 0%;
  }
  25% {
    background-position: 0% 9em
  }
  50% {
    background-position: 8em -7em;
  }
  85% {
    background-position: -15em 0%;
  }
}
  
[data-uistate=selected] [data-name=busybody] {
  background-size: 100% 100%;
  animation: busybody 1.2s linear 1;
}

@keyframes catmover {
  0%, 100% {
    background-size: 100% 100%;
    background-position: 50% 50%;
  }
  15%, 90% {
    background-size: 100% 80%;
    background-position: 50% 100%;
  }
  50% {
    background-size: 100% 150%;
    background-position: 50% -15em;
  }
}
[data-uistate=selected] [data-name=catmover] {
  animation: catmover 2.2s linear 1;
}

[data-uistate=selected] [data-name=bezerker] {
  animation: zoom 0.5s ease-in 1;
}

[data-uistate=selected] [data-name=dogatron] {
  animation: zoom 0.6s ease-out 1,
    huerotate 1s linear 2;
}

[data-uistate=selected] [data-name=electromouse] {
  animation: rush 0.8s linear 1.5;
}

@keyframes explody {
  0%, 9%, 18%, 27%, 36%, 45%, 100% {
    background-position: 50% 50%;
    background-size: 100%;
    background-color: var(--ui-alt-desaturated);
  }
  5%, 23%, 41% {
    background-position: 1em 50%;
  }
  14%, 33% {
    background-position: -1em 50%;
  }
  70% {
    background-size: 400%;
    background-color: var(--ui-main-saturated)
  }
}
[data-uistate=selected] [data-name=explody] {
  animation: explody 1.1s linear 1;
}

[data-uistate=selected] [data-name=howloo] {
  animation: wiggle 1s ease-in 1;
}

[data-uistate=selected] [data-name=maycorn] {
  animation: huerotate 2.2s ease-out;
}

@keyframes mediacreep {
  0% {
    background-size: 100%;
    background-position: 50% 50%;
  }
  50% {
    background-size: 33%;
    background-position: 30em 10em;
  }
  100% {
    background-size: 100%;
    background-position: 151em, 40em;
  }
}
[data-uistate=selected] [data-name=mediacreep] {
  background-repeat: repeat;
  animation: mediacreep 2.2s linear;
}

[data-uistate=selected] [data-name=shenamouse] {
  animation: wiggle 2.2s linear;
}

@keyframes sparky {
  0%, 56%, 67%, 80%, 92%, 100% {
    filter: invert(0%);
  }
  50%, 62%, 74%, 86%, 98% {
    filter: invert(100%);
  }
}
[data-uistate=selected] [data-name=sparky] {
  animation: sparky 1.8s linear;
}

[data-uistate=selected] [data-name=spikeder] {
  animation: wiggle 2.2s linear;
}

[data-uistate=selected] [data-name=tactician] {
  animation: zoom 0.5s ease-in 1;
}

@keyframes tinker {
  0%, 10%, 40%, 50%, 70%, 80%, 100% {
    filter: sepia(0%);
  }
  25%, 62%, 86% {
    filter: sepia(100%);
  }
}

[data-uistate=selected] [data-name=tinker] {
  animation: tinker 1s linear 1;
}

[data-uistate=selected] [data-name=tim] {
  animation: rush 0.35s ease-in-out 3;
}

[data-uistate=selected] [data-name=scout] {
  animation: rush 0.35s ease-in-out 1.5;
}

[data-uistate=selected] [data-name=rollander] {
  animation: rush 1.35s linear 1.5;
}

[data-uistate=selected] [data-name=pushie] {
  animation: zoom 0.4s linear 3;
}

@keyframes poisonblade {
  0% {
    filter: brightness(1);
  }
  50%, 100% {
    filter: brightness(0);
  }
}
[data-uistate=selected] [data-name=poisonblade] {
  animation: poisonblade 0.6s linear 1;
}

[data-uistate=selected] [data-name=sackboom] {
  animation: explody 1.3s ease-out 1;
}

[data-uistate=selected] [data-name=chopper] {
  animation: wiggle 1.2s linear 1.5;
}

[data-uistate=selected] [data-name=spy] {
  animation: wiggle 1.5s linear 1;
}

[data-uistate=selected] [data-name=miner] {
  animation: wiggle 1.2s linear 1,
    zoom 1.3s linear 1;
}

[data-uistate=selected] [data-name=sergeant] {
  animation: zoom 0.5s linear 2;
}

[data-uistate=selected] [data-name=major] {
  animation: zoom 0.3s linear 3;
}

@keyframes monarch {
  30%, 80% {
    background-color: gold;
  }
}
[data-uistate=selected] [data-name=monarch] {
  animation: monarch 1.6s linear 1;
}

@keyframes hilight {
  10% {
    filter: drop-shadow(0.1em 0.1em 0.4em gold) brightness(150%) contrast(150%);
  }
  30%, 80% {
    transform: scale(2, 2);
  }
}
.hilight {
  animation: hilight 1s linear;
}
