body {
  flex-direction: column;
  background-color: var(--grey-transparent-med);
}

#table {
  display: grid;
  height: 100vh;
  background-image: url("img/paper_bg_transparent.png");
}

@media (orientation: landscape) {
  #table {
    grid-template-columns: minmax(0, 1fr) min(60vw, 100vh) minmax(0, 1fr);
    grid-template-rows: 12% 45% 10% 21% 12%;
    grid-template-areas:
      "opponent board  hand"
      "infobox  board  hand"
      "timer    board  hand"
      "buttons  board  hand"
      "player   board  hand";
  }
  #board {
    width: min(60vw, 95vh);
    height: min(60vw, 95vh);
  }
  #hand {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 1vw;
    padding-right: 4vw;
    flex-direction: column;
  }
  .card {
    height: max(18vh, 18vw);
    width: max(16vh, 16vw);
  }
  #infobox {
    justify-self: center;
    align-self: center;
    height: max(80%, min(44vh, 22vw));
  }
  #infobox .info {
    width: min(43vh, 19vw);
  }
  .dropdown .dismiss {
    right: 1px;
  }
  #jobfair {
    grid-column: 2 / span 2;
    grid-row: 1 / span 5;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    border-left: 2px inset #325;
    margin-right: 2px;
  }
  #jobfair .candidate {
    min-height: 20vw;
    max-height: 23vw;
  }
}

@media (orientation: portrait) {
  #table {
    grid-template-columns: 28% 44% 28%;
    grid-template-rows: min(60vh, 100vw) minmax(0, 5fr) minmax(0, 3fr) minmax(0, 5fr) minmax(0, 8fr);
    grid-template-areas:
      "board    board    board"
      "buttons  infobox  opponent"
      "buttons  infobox  timer"
      "buttons  infobox  player"
      "hand     hand     hand";
  }
  #table {
    padding-top: 0.13em;
  }
  #board {
    width: min(60vh, 95vw);
    height: min(60vh, 95vw);
  }
  #hand {
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
    padding-bottom: 4vh;
  }
  .card {
    height:15vh;
    width: 15vh;
  }
  #infobox {
    align-self: center;
    justify-self: center;
  }
  #infobox .info {
    width: min(38vw, 24vh);
    height: min(39vw, 24vh);
  }
  .dropdown .dismiss {
    left: 1px;
  }
  body[data-gamestate=jobfair] #table {
    grid-template-columns: 26% 48% 26%;
    grid-template-rows: 70vh minmax(0, 5fr) minmax(0, 3fr) minmax(0, 5fr);
    grid-template-areas:
      "jobfair  jobfair  jobfair"
      "buttons  infobox  opponent"
      "buttons  infobox  timer"
      "buttons  infobox  player";
  }
  #jobfair {
    grid-area: jobfair;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    height: 100%;
    border-top: 2px inset var(--ui-alt-dark);
    border-bottom: 2px inset var(--ui-alt-dark);
    margin-bottom: -0.5em;
  }
  #jobfair .candidate {
    min-height: 33vw;
    max-height: 37vw;
  }
}

body[data-gamestate=placement] {
  background: repeating-linear-gradient(
  40deg,
  var(--ui-alt-desaturated), var(--ui-alt-desaturated) 2em,
  var(--ui-main-desaturated) 2em, var(--ui-main-desaturated) 4em,
  var(--grey-transparent-med) 4em, var(--grey-transparent-med) 6em);
}

body[data-gamestate=jobfair] {
  background-image: url("img/paper_bg_grn.png");
}

body:not([data-gamestate]) #table {
  display: none;
}
body[data-gamestate=jobfair] #board,
body[data-gamestate=jobfair] #hand {
  display: none;
}

body[data-gamestate=battle] {
  background: repeating-radial-gradient(
    circle at -10% 120%,
    var(--south-muted), var(--south-muted) 2em,
    transparent 2em, transparent 4em
  ), repeating-radial-gradient(
    circle at 110% 120%,
    var(--north-muted), var(--north-muted) 2em,
    var(--grey-transparent-med) 2em, var(--grey-transparent-med) 4em
  );
}

body[data-gamestate=gameover] {
  background: repeating-radial-gradient(
  circle at 50% 102%,
  var(--ui-main-desaturated-transparent), var(--ui-main-desaturated-transparent) 2em,
  var(--ui-alt-desaturated-transparent) 2em, var(--ui-alt-desaturated-transparent) 4em,
  var(--north-muted) 4em, var(--north-muted) 6em,
  var(--south-muted) 6em, var(--south-muted) 8em);
}

.waiting {
  padding: 2vh;
  background: repeating-linear-gradient(
    40deg,
    var(--ui-alt-desaturated-transparent), var(--ui-alt-desaturated-transparent) 1em,
    var(--white-transparent-med) 1em, var(--white-transparent-med) 2em,
    var(--ui-alt-desaturated) 2em, var(--ui-alt-desaturated) 3em);
}

.linkcopy {
  display: block;
  margin-top: 2vh;
}

#errbutton {
  color: grey;
  font-size: 60%;
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 0;
  padding: 1px;
  font-weight: bold;
}

/* BOARD */

#board {
  margin: auto;
  grid-area: board;
  background-color: var(--ui-main-desaturated);
  box-shadow: 1vh 2vh 1vh var(--ui-main-dark-transparent);
  display: grid;
  align-content: stretch;
  background-image: url("img/oygrad.png");
  background-size: cover;
  border: 0.1em inset var(--ui-main-dark);
  grid-auto-flow: row;
  grid-auto-rows: minmax(0, 1fr);
}

.boardrow {
  display: grid;
  background-color: var(--white-transparent-med);
  overflow: hidden;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
}

.boardsquare {
  border: 0.1em inset var(--ui-main-desaturated-transparent);
  box-sizing: border-box;
  background-color: var(--white-transparent-high);
  display: flex;
  overflow: hidden;
}

.boardsquare .unit {
  font-size: 50%;
}

.boardsquare .unit .unit-name {
  display: none;
}

.boardsquare .unit-attack, .boardsquare .unit-defense {
  height: 100%;
}

.boardrow.northrow {
  box-shadow: inset 0.2em -0.3em 1em var(--north-muted);
}

.boardrow.southrow {
  box-shadow: inset 0.2em -0.3em 1em var(--south-muted);
}

/* HAND */

#hand {
  grid-area: hand;
  display: flex;
  background-color: var(--ui-alt-dark);
  background-image: url("img/paper_bg_transparent_med.png");
  border: 0.15em inset var(--ui-alt-dark);
  padding: 0 0.1em;
  box-shadow: inset -0.2em 0.2em 0.7em var(--ui-main-dark-dark);
}

.card {
  display: flex;
  flex-shrink: 0;
  margin: auto;
}

.card:empty {
  display: none;
}

.card .unit {
  box-shadow: 0.8vh 1vh 0.7vh var(--ui-main-dark-transparent);
}

/* UNITS */

.unit {
  display: grid;
  font-size: 90%;
  width: 100%;
  margin: 0.15em;
  border-radius: 5%;
  box-sizing: border-box;
  border: 0.15em inset var(--ui-main-saturated);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  grid-template-rows: 15% 70% 15%;
  grid-template-columns: 15% 70% 15%;
  grid-template-areas:
    "attack name defense"
    "info . ."
    ". ability .";
}

.unit.owned:hover {
  cursor: pointer;
}

.unit.north .uibutton,
.unit.north button {
  border-color: var(--north-saturated);
}

.unit.south .uibutton,
.unit.south button {
  border-color: var(--south-saturated);
}

.unit.north {
  background-color: var(--north-main);
  border-color: var(--south-saturated);
}

.unit.south {
  background-color: var(--south-main);
  border-color: var(--north-saturated);
}

.unit-name {
  grid-area: name;
  padding-left: 0.3vh;
  padding-top: 0.3vh;
  text-overflow: ellipsis;
  overflow: hidden;
  text-shadow: rgba(245, 244, 245, 0.5) -1px -1px 2px;
  min-height: 1.15em;
}

.unit.monarch {
  box-shadow: inset 0 0 5px var(--ui-main-light);
}

.unit.monarch::before {
  position: relative;
  left: 0;
  top: 0;
  width: 64%;
  height: 46%;
  margin: 0 auto;
  background: center / contain no-repeat url("img/crowns.png");
  display: block;
  content: "";
  transform: rotate(-9deg);
  grid-row: 1 / span 3;
  grid-column: 1 / span 3;
}

.unit.monarch.north::before {
  background-image: url("img/crownn.png");
}

.unit.monarch.details::before {
  width: 33%;
}

.unit-attack {
  color: var(--ui-main-dark);
  border-color: rgba(199, 45, 46, 0.4);
  grid-area: attack;
}
.unit-defense {
  color: var(--ui-alt-dark);
  border-color: rgba(82, 189, 6, 0.4);
  grid-area: defense;
}
.unit-attack, .unit-defense {
  font-weight: bold;
  margin: 0.1em;
  border-radius: 28%;
  box-sizing: border-box;
  width: 85%;
  height: 85%;
  place-self: center;
  text-align: center;
  text-shadow: 1px 1px 1px var(--grey-transparent-med), 0 0 1px var(--white-transparent-low);
  -webkit-text-stroke: 1px var(--black-transparent-med);
}

/* attack/defense tooltips */
.unit-attack:hover::after {
  content: 'attack';
}
.unit-defense:hover::after {
  content: 'defense';
}

.unit-attack::after, .unit-defense::after {
  visibility: hidden;
  color: var(--ui-main-dark-dark);
  font-weight: normal;
  padding: 3px;
  font-size: 12px;
  background-color: var(--ui-main-light);
  border: 0.1em solid rgba(89, 78, 86, 0.9);
  text-shadow: rgba(220, 218, 219, 0.2) -0.1em -0.1em 0;
  -webkit-text-stroke: transparent;
}
.unit-attack:hover::after, .unit-defense:hover::after {
  position: absolute;
  visibility: visible;
}

.unit-ability {
  margin-bottom: 1px;
  padding: 0 3px;
  background-color: var(--white-transparent-low);
  color: var(--ui-alt-dark-dark);
  border-width: 2px;
  border-radius: min(1vw, 1vh);
  border-color: var(--ui-alt-dark);
  text-shadow: var(--ui-alt-desaturated-transparent) -1px -1px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  grid-area: ability;
  border-width: 0.1em;
  cursor: pointer;
  box-shadow: inset 0.2em 0.2em 0.3em rgba(240, 241, 242, 0.5);
}
.unit-ability:hover {
  cursor: pointer;
  background-color: var(--ui-main-light);
}
.unit-ability:hover .tooltip ,
.trigger-symbol:hover .tooltip {
  display: block;
}

.triggers {
  width: 100%;
  grid-area: info;
  align-self: start;
  display: flex;
  flex-direction: column;
}

.trigger-symbol {
  margin: auto;
  width: 100%;
  line-height: 1.5;
  text-align: center;
  width: 2em;
}

.unit-trigger {
  margin-left: 4%;
}

.tooltip {
  display: none;
  position: absolute;
  margin-left: 0.4em
  min-width: 10%;
  max-width: 20%;
  padding: 0.3em;
  border-radius: 0.6em;
  font-size: 80%;
  color: var(--ui-main-dark-dark);
  background-color: var(--ui-main-light);
  border: 2px solid var(--ui-main-dark);
}

.death {
  width: 100%;
  margin-top: 20px;
  font-size: 200%;
  text-align: center;
}

/* details */

.unit.details {
  width: min(96vw, 96vh);
  height: min(96vw, 96vh);
  margin: auto;
  cursor: pointer;
  padding: min(1vw, 1vh);
  background-image: url("img/details_bg.png");
  grid-template-areas:
    "attack name defense"
    "info info info"
    "ability ability ability";
  grid-template-rows: 15% 55% 30%;
}
.unit.details .unit-name {
  text-align: center;
  align-self: center;
  width: 100%;
  font-weight: bold;
  font-size: min(6vw, 6vh);
}
.unit-details .unit-name:first-letter {
  text-transform: capitalize;
}
.unit.details .unit-ability {
  max-width: 100%;
  padding: min(1vw, 1vh);
  background: none;
  box-shadow: none;
}

.descriptions {
  grid-area: ability;
}

.bio {
  padding-top: 0.6em;
}

.unit.details .ability-name {
  border-style: inset;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.ability-name:first-letter {
  text-transform: uppercase;
}
.owned .ability-name:hover {
  box-shadow: -0.2em -0.2em 0.1em rgba(3, 9, 6, 0.1), 0.2em 0.2em 0.1em rgba(249, 252, 244, 0.2);
}

.trigger-description, .ability-description {
  font-size: 80%;
}

.unit.details .unit-attack,
.unit.details .unit-defense {
  font-size: max(5vw, 5vh);
}

.unit.details .unit-attack::after,
.unit.details .unit-defense::after {
  font-variant-caps: all-small-caps;
  position: relative;
  display: block;
  font-size: min(2vw, 2vh);
  width: 100%;
  margin-top: 0.2vh;
  margin-left: -0.5vh;
  visibility: visible;
  border: none;
  background: none;
}

.unit.details .unit-attack::after {
  content: 'Attack';
}
.unit.details .unit-defense::after {
  content: 'Defense';
}

.unit-portrait {
  grid-area: info;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  border-bottom: 0.2em dotted var(--grey-transparent-med);
  width: 100%;
  height: 100%;
}

.unit.details .triggers {
  width: 100%;
  padding: min(1vw, 1vh);
}
.unit.details .unit-trigger {
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
}
.unit.details .unit-trigger:first-letter {
  text-transform: capitalize;
}

.unit.details .triggers:first-child::before {
  content: 'Triggers:';
  position: relative;
  min-width: 80%;
}

.unit.invisible {
  border-style: dotted;
  border-width: 4px;
}

/* Features */

.feature {
  text-align: center;
  padding-top: 10px;
  flex-grow: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
}

.feature.block {
  border: 0.2em inset var(--block-alt);
  background-image: url("img/block.png");
  background-color: var(--block-main);
}
[data-uistate=moveoption] .feature.block {
  border-color: rgba(105, 145, 45, 1);
}

.feature.water {
  border: 0.2em inset var(--water-alt);
  background-image: url("img/water.png");
  background-color: var(--water-main);
}

.feature .text {
  color: var(--ui-main-dark-dark);
  font-size: 130%;
  width: 100%;
  place-self: end;
  padding: 0.3em;
}

.feature.water .text {
  height: 38%;
}

/* UIState */

[data-uistate='selected'] {
  border-width: 3px;
}
[data-uistate='selected'] .unit {
  border-width: 0.4em
}
[data-uistate='moveoption'] {
  cursor: pointer;
  border-color: var(--ui-alt-saturated);
  box-shadow: inset min(1vh, 1vw) min(1vh, 1vw) max(1vh, 1vw) rgba(2,4,32,0.5),
              inset max(-1vh, -1vw) max(-1vh, -1vw) max(3vh, 3vw) rgba(2,41,22,0.3);
}
[data-uistate='moveoption']:hover {
  border-width: 0.4em
}

/* Left */

.timer {
  display: grid;
  place-content: center;
  color: var(--ui-alt-dark-dark);
  height: 1.5em;
  grid-area: timer;
}

#timer.timer {
  font-size: 123%;
}

.timer.urgent {
  font-weight: bold;
  color: var(--ui-main-saturated);
}

.timer.relaxed {
  color: var(--ui-main-dark-transparent);
}

#opponent, #player {
  margin: 5%;
  border-radius: 5%;
  align-content: stretch;
  justify-content: stretch;
  display: grid;
}

#player {
  grid-area: player;
}

#opponent {
  grid-area: opponent;
}

#infobox {
  grid-area: infobox;
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
}

#infobox .unit {
  margin: 0;
  box-shadow: min(0.5vh, 0.5vw) min(0.6vh, 0.6vw) 1vw 1px var(--ui-main-dark-transparent);
}

[data-turn="opponent"] #opponent .playername,
[data-turn="player"] #player .playername {
  background-color: var(--ui-main-desaturated-transparent);
  border: 0.15em inset var(--ui-alt-saturated);
  color: var(--ui-alt-dark);
}

.playerdetails, .uibutton {
  padding: 7px 3px;
  margin: 3px;
  border-radius: 0.4em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttons {
  grid-auto-flow: row;
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  display: grid;
  grid-area: buttons;
  justify-content: space-around;
  place-content: stretch;
  place-self: stretch;
  padding: 0 0.5em;
}

#buttons .uibutton, #buttons div {
  padding: 0.5em;
  min-width: 60%;
  margin: 0.5em;
}

#opponent {
  grid-area: opponent;
}

.playername[data-ready='true'] {
  background-color: var(--ui-alt-desaturated);
}

.avatar {
  width: 2em;
  height: 2em;
  grid-area: avatar
}

.playerdetails {
  display: grid;
  grid-template-columns: 2em minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) 1.4em;
  grid-template-areas: 
    "avatar name"
    "timer timer";
}

.playername {
  background-color: var(--white-transparent-high);
  border: 0.15em inset var(--ui-main-light);
  width: 100%;
  grid-area: name;
  height: 1.8em;
}

.dropdown {
  width: 76%;
  background-color: var(--ui-alt-desaturated);
  color: var(--ui-main-dark-dark);
  position: absolute;
  top: 0;
  left: 12%;
  text-align: center;
  padding: 0.2em 0.8em;
  border-radius: 0 0 0.4em 0.4em;
  border: 0.1em solid var(--ui-main-dark);
  border-top: none;
}

.dropdown .dismiss {
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  font-size: 80%;
  position: absolute;
  top: 0;
}

/* jobfair */

#jobfair {
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  background: url("img/paper_bg.png");
  box-sizing: border-box;
  padding: 2px;
  padding-right: 4px;
}

.candidate {
  display: grid;
  margin: 0 2px;
}

.candidate .unit {
  background-color: var(--ui-main-desaturated);
  border-color: var(--ui-main-saturated);
}

.candidate .unit-attack, .candidate .unit-defense {
  border: none;
  width: 100%;
  height: 100%;
}

.candidate[data-uistate='selected'] .unit {
  background-color: var(--ui-alt-desaturated);
}

#counter {
  text-align: center;
  color: var(--ui-main-saturated);
  background-color: var(--white-transparent-high);
  font-weight: bold;
  font-size: 150%;
  text-shadow: 0.2em 0.1em 0.2em 0.2em var(--ui-alt-desaturated);
  display: grid;
  align-content: center;
  -webkit-text-stroke: 1px var(--ui-main-dark);
}

/* overlay */

.overlay.waiting {
  border-radius: min(5vh, 5vw);
  border: 0.4em inset var(--ui-main-saturated);
  box-sizing: border-box;
  padding: 10vh;
  text-align: center;
  box-shadow: max(1vh, 1vw) max(2vh, 2vw) max(3vh, 3vw) var(--ui-main-dark-transparent);
}

.waiting button {
  padding: max(1vh, 1vw);
  margin: max(1vh, 1vw);
}

.waiting div {
  margin-bottom: max(2vh, 2vw);
  color: var(--ui-main-dark);
  text-shadow: 1px 1px 2px rgba(0, 1, 36, 0.2);
  font-size: max(2.5vw, 2.5vh);
  font-variant-caps: all-small-caps;
  letter-spacing: 2px;
}

.details {
  border-radius: min(5vh, 5vw);
  padding: 0.5em;
  border: 0.4em solid var(--ui-alt-light);
  text-align: center;
  font-size: 130%;
  text-shadow: rgba(245, 244, 245, 0.5) -1px -1px 2px;
  background-color: var(--white-transparent-low);
  box-shadow: max(1vh, 1vw) max(2vh, 2vw) max(3vh, 3vw) var(--ui-main-dark-transparent);
}

/* animations */

.projectile {
  position: fixed;
  width: 1.7em;
  height: 1.7em;
  background-color: var(--white-transparent-high);
  border: 0.3em solid var(--ui-main-saturated);
  border-radius: 0.6em;
  box-shadow: 0.4em 0.2em 0.2em 0.2em var(--ui-main-dark-transparent);
  display: grid;
  place-content: center;
}
