body {
  flex-direction: column;
  margin-bottom: 30px;
}

body[data-gamestate=placement] {
  background: repeating-linear-gradient(40deg, #CCD, #CCD 10px, #eee 10px, #eee 20px, #BAB 20px, #B9B 30px);
}

body[data-gamestate=battle] {
  background: repeating-radial-gradient(
    circle at -10% 120%,
    #dCD,
    #dCE 10px,
    transparent 10px,
    transparent 20px
  ), repeating-radial-gradient(
    circle at 110% 120%,
    rgba(175, 165, 160, 0.5),
    rgba(175, 165, 160, 0.5) 10px,
    #FED 10px,
    #fdc 20px
  );
}

body[data-gamestate=gameover] {
  background: repeating-radial-gradient(
  circle at 50% 100%,
  #FAB, #FAB 10px,
  #DD8 10px, #DD8 20px,
  #CFD 20px, #CFD 30px,
  #9AD 30px, #9AD 40px
  );
}

body > div {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

#board {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 30px;
  background-color: #443;
}

.boardrow {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: calc(100vw * .13);
  background-color: #EEE;
  width: 100%;
}

.boardsquare {
  width: 20%;
  margin: 10px;
  border-radius: 10px;
  border: 2px inset #4B9;
  box-sizing: border-box;
  background-color: rgba(255,254,254,0.6);
}

.boardrow.northrow {
  background-color: #DEF;
}

.boardrow.southrow {
  background-color: #EFD;
}

#player {
  flex-direction: column;
  align-items: center;
}

#hand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  order: 3;
}

.card {
  height: calc(100vw * .105);
}

.card .unit {
  width: calc(100vw * .1);
  margin: 5px;
}

/* UNITS */

.unit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 90%;
  width: 90%;
  margin: 5%;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px inset #C89;
  background-size: cover;
  align-items: flex-end;
  font-size: 90%;
}

.unit.owned:hover {
  cursor: pointer;
}

.unit.north {
  background-color: rgba(45, 198, 221, 1);
}
.unit.south {
  background-color: rgba(230, 188, 62, 1);
}
.unit-name {
  color: #253;
  background-color: rgba(180, 185, 187, 0.4);
  border-radius: 10px 2px;
  order: 1;
  width: 88%;
  padding: 3px;
}
.unit.monarch .unit-name {
  color: #301;
  background-color: rgba(80, 85, 87, 0.2);
  text-shadow: rgba(240, 248, 219, 0.4) -1px -1px 0;
}

.unit-attack {
  color: rgba(95, 12, 6, 1);
  border-color: rgba(199, 45, 46, 0.4);
  order: 6
}
.unit-defense {
  color: rgba(15, 89, 6, 1);
  border-color: rgba(82, 189, 6, 0.4);
  order: 8
}
.unit-attack, .unit-defense {
  font-weight: bold;
  padding: 2px 4px 0px;;
  border-radius: 48%;
  border-width: 2px;
  border-style: inset;
  background-color: rgba(245, 248, 246, 0.1);
  margin: 5px;
}

/* attack/defense tooltips */
.unit-attack::after {
  content: 'attack';
}
.unit-defense::after {
  content: 'defense';
}
.unit-attack::after, .unit-defense::after {
  visibility: hidden;
  position: absolute;
  color: #221;
  font-weight: normal;
  padding: 3px;
  font-size: 12px;
  background-color: rgba(169, 168, 166, 0.8);
  border: 2px solid rgba(89, 78, 86, 0.9);
  text-shadow: rgba(220, 218, 219, 0.2) -1px -1px 0;
}
.unit-attack:hover::after, .unit-defense:hover::after {
  visibility: visible;
}

.unit-ability {
  margin-bottom: 5px;
  padding: 0 3px;
  background-color: rgba(170, 155, 157, 0.7);
  border-width: 1px;
  border-radius: 5px;
  border-color: #ABA;
  text-shadow: #CBB -1px -1px 0;
  max-height: 1.4em;
  order: 7;
}
.unit-ability:hover {
  cursor: pointer;
  background-color: rgba(170, 175, 177, 0.4);
  border-style: solid;
  border-color: #445;
}
.unit-ability:hover .tooltip {
  display: block;
}

.triggers {
  order: 3;
  width: 100%;
}

.unit-trigger:hover .tooltip {
  display: block;
}

.move-trigger {
  order: 3;
}
.death-trigger {
  order: 4;
}

.unit-trigger {
  width: 96%;
  margin-left: 4%;
}

span .tooltip, button .tooltip {
  display: none;
  position: absolute;
  margin-left: 5px;
  width: 10%;
  padding: 4px;
  font-size: 12px;
  color: #221;
  background-color: rgba(169, 168, 166, 0.8);
  border: 2px solid rgba(89, 78, 86, 0.9);
  text-shadow: rgba(220, 218, 219, 0.2) -1px -1px 0;
}

.death {
  width: 100%;
  margin-top: 20px;
  font-size: 200%;
  text-align: center;
}

/* Features */

#board [data-feature] {
  text-align: center;
  padding-top: 10px;
}

#board [data-feature=block] {
  border: thick inset #785460;
  background-color: #997876;
}
#board [data-feature=block][data-uistate=moveoption] {
  border-color: rgba(105, 145, 45, 1);
}

#board [data-feature=water] {
  border: thick double #32a1ce;
  background-color: #ABC;
}

/* UIState */

[data-active=true] {
  background-color: darkgrey;
  color: white;
}

[data-uistate='selected'] {
  border-width: 3px;
}
[data-uistate='selected'] .unit {
  border-width: 5px;
}
[data-uistate='moveoption'] {
  cursor: pointer;
  border-color: rgba(105, 145, 45, 1);
  border-style: inset;
  box-shadow: inset 5px 5px 10px rgba(2,4,32,0.7);
}
[data-uistate='moveoption']:hover {
  border-width: 5px;
  background-color: rgba(255,254,254,0.2)
}

.playername {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  min-width: 30%;
  order: 1;
}

.playername[data-ready='true'] {
  color: #251;
}

.playername[data-turn='true'] {
  background-color: #8B6;
}

#readybutton {
  padding: 10px;
  background-color: #EEF;
  min-width: 30%;
  border-radius: 10px;
  order: 2
}
