:root {
  --north-main:	hsla(196, 78%, 55%, 1);
  --north-muted: hsla(210, 42%, 64%, 0.7);
  --north-saturated:	hsla(196, 98%, 45%, 1);
  --south-main: hsla(270, 76%, 66%, 1);
  --south-muted: hsla(262, 42%, 69%, 0.6);
  --south-saturated: hsla(272, 96%, 62%, 1);
  --ui-alt-saturated: hsla(69, 65%, 50%, 1);
  --ui-alt-desaturated: hsla(69, 25%, 70%, 0.9);
  --ui-alt-desaturated-transparent: hsla(69, 35%, 80%, 0.6);
  --ui-alt-light: hsla(69, 25%, 95%, 1);
  --ui-alt-dark: hsla(69, 45%, 38%, 1);
  --ui-alt-dark-dark: hsla(69, 55%, 12%, 0.9);
  --ui-main-saturated: hsla(24, 65%, 50%, 1);
  --ui-main-desaturated: hsla(30, 25%, 70%, 0.9);
  --ui-main-light: hsla(24, 15%, 95%, 0.9);
  --ui-main-desaturated-transparent: hsla(38, 35%, 75%, 0.6);
  --ui-main-dark: hsla(24, 45%, 33%, 1);
  --ui-main-dark-dark: hsla(30, 45%, 12%, 0.9);
  --ui-main-dark-transparent: hsla(24, 45%, 33%, 0.5);
  --ui-main-dark-desaturated: hsla(30, 25%, 40%, 0.9);
  --grey-transparent-med: hsla(0, 0%, 50%, 0.4);
  --white-transparent-high: hsla(0, 0%, 99%, 0.2);
  --white-transparent-med: hsla(0, 0%, 99%, 0.5);
  --white-transparent-low: hsla(0, 0%, 99%, 0.9);
  --black-transparent-med: hsla(9, 9%, 9%, 0.4);
  --block-main: hsla(40, 55%, 30%, 1);
  --block-alt: hsla(34, 35%, 25%, 1);
  --water-main: hsla(225, 25%, 80%, 1);
  --water-alt: hsla(235, 35%, 55%, 1);
}

@keyframes shimmer {
  0% {background-position: 400% 0}
  100% {background-position: -600px 0}
}

@keyframes glow {
  0% {text-shadow: 0 0 1px white}
  50% {text-shadow: 0 0 0.4em white}
  100% {text-shadow: 0 0 1px white}
}

@keyframes huerotate {
  0% {filter: hue-rotate(0)}
  100% {filter: hue-rotate(360deg)}
}

@keyframes northglow {
  0% {
    background-color: var(--north-main);
  }
  45% {
    background-color: var(--north-main);
  }
  70% {
    background-color: var(--north-muted);
    border-bottom-width: 0.3em;
  }
  100% {
    background-color: var(--north-main);
  }
}
@keyframes southglow {
  0% {
    background-color: var(--south-main);
  }
  45% {
    background-color: var(--south-main);
  }
  70% {
    background-color: var(--south-muted);
    border-bottom-width: 0.3em;
  }
  100% {
    background-color: var(--south-main);
  }
}
