
body {
  justify-content: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: min(2.5vh, 2.5vw);
  font-family: verdana;
  color: var(--ui-main-dark-dark);
}

.uibutton {
  background-color: var(--ui-main-light);
  color: var(--ui-alt-dark-dark);
  border-radius: min(1vw, 1vh);
  border-color: var(--ui-main-dark);
  border-width: 0.15em;
  cursor: pointer;
  box-shadow: inset 0.2em 0.2em 0.3em white;
  box-shadow: inset 0.2em 0.2em 0.3em white, inset -0.2em -0.1em 0.2em rgba(12, 4, 0, 0.2);
}

/* overlay */

.overlaycontainer {
  position: absolute;
  background-color: var(--white-transparent-high);
  background: repeating-linear-gradient(40deg,
    rgba(240, 230, 221, 0.3),
    rgba(240, 230, 221, 0.3) max(2vh, 2vw),
    rgba(231, 210, 235, 0.3) max(2vh, 2vw),
    rgba(231, 210, 235, 0.3) max(4vh, 4vw),
    rgba(201, 250, 241, 0.3) max(4vh, 4vw),
    rgba(201, 250, 241, 0.3) max(6vh, 6vw));
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: grid;
}

.overlay {
  display: grid;
  place-self: center;
  place-content: center;
  min-width: 50%;
  min-height: 50%;
  padding: 5%;
}

.overlaycontainer .message {
  background-image: url("img/r_c_tran.png");
  color: var(--ui-main-dark);
  background-color: var(--ui-alt-light);
  font-size: 120%;
  padding: 1.2em;
  border: 0.3em inset var(--ui-main-desaturated);
  border-radius: 0.4em;
  box-shadow: 0.8em 1.2em 1.3em var(--ui-main-dark-transparent);
  display: grid;
  row-gap: 0.6em;
  column-gap: 0.5em;
  grid-auto-columns: minmax(0, 1fr);
}

.overlaycontainer .confirm button {
  grid-row: 2;
  margin: 0 1em;
}

.overlaycontainer .confirm div {
  grid-column: 1 / 3;
}

/* player */


.playerdetails {
  display: grid;
}

.playername {
  font-weight: bold;
  color: var(--ui-main-dark);
  text-shadow: rgba(200, 255, 220, 0.5) -1px -1px 0;
  padding: 0.5em 0;
  border-radius: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}
