html {
  background-image: url("img/paper_bg_transparent.png");
  background: repeating-linear-gradient(
  40deg,
  var(--ui-alt-desaturated-transparent),      var(--ui-alt-desaturated-transparent)  2em,
  var(--white-transparent-med)           2em, var(--white-transparent-med)           4em,
  var(--ui-main-desaturated-transparent) 4em, var(--ui-main-desaturated-transparent) 6em,
  var(--grey-transparent-med)            6em, var(--grey-transparent-med)            8em);
}

body {
  overflow-y: scroll;
  padding: 0.4em;
  background: none;
  color: var(--ui-main-dark-dark);
  display: grid;
  overflow: hidden;
}

header {
  height: 7vh;
  display: grid;
  align-content: space-around;
  padding: 1em;
}

nav {
  display: grid;
  grid-auto-flow: column;
  place-content: stretch;
}

#content {
  height: 93vh;
  overflow-y: scroll;
}

section {
  border-top: 2px solid var(--ui-main-saturated);
  border-bottom: 2px solid var(--ui-main-desaturated);
  margin-bottom: 1.5em;
  margin-right: 0.7em;
  background-color: var(--white-transparent-low);
  padding: 0.8em 0.2em;
  border-radius: 0.2em;
}

h2 {
  margin: 0.5em auto;
  padding-right: 1em;
  color: var(--ui-main-dark-desaturated);
  text-shadow: 2px 2px 2px var(--ui-main-dark-transparent);
  max-width: 35em;
}

h3 {
  margin: 0.3em auto;
  padding-right: 1em;
  color: var(--ui-alt-dark);
  text-shadow: 1px 1px 2px var(--ui-main-dark-transparent);
}

h4 {
  margin: 0 auto;
  color: var(--ui-main-dark);
  padding-right: 1em;
  text-shadow: 1px 1px 1px var(--ui-main-dark-transparent);
}

body h1, body h2, body h3, body h4 {
  text-align: center;
}

img {
  display: block;
}

a {
  color: var(--ui-main-saturated);
}

p {
  max-width: 33em;
  margin: 0.5em auto;
}

.top {
  float: right;
  padding-right: 1em;
}

.featuredemo {
  width: 8em;
  height: 8em;
}

#units {
  display: grid;
  width: 30em;
  margin: auto;
  grid-template-columns: 10em 10em 10em;
}

#units .unit {
  height: 8em;
  width: 8em;
  margin: 1em auto;
  place-self: center;
  cursor: pointer;
}

.unit {
  background-color: var(--ui-main-desaturated);
}

.grid {
  display: grid;
  grid-auto-flow: column;
  max-width: 35em;
  margin: 0.2em auto;
}

.grid div {
  margin: 0.5em;
}

#table {
  filter: saturate(50%) sepia(15%) contrast(80%);
}

.description {
  color: black;
  place-self: center;
  padding: 0.3em;
  border: 0.3em inset red;
  border-radius: 0.6em;
  display: grid;
  place-content: center;
  background-color: var(--white-transparent-low);
  z-index: 100;
  font-size: 80%;
  filter: drop-shadow(1em 1em 1em black);
}

.uparrow::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 46%;
  width: 0;
  height: 0;
  border-bottom: 2em solid red;
  border-right: 0.6em solid transparent;
  border-left: 0.6em solid transparent;
}
.downarrow::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 46%;
  width: 0;
  height: 0;
  border-top: 2em solid red;
  border-right: 0.6em solid transparent;
  border-left: 0.6em solid transparent;
}

.player_ { grid-area: player }
.opponent_ { grid-area: opponent }
.infobox_ { grid-area: infobox }
.jobfair_ { grid-area: board }
.timer_  { grid-area: timer }
.hand_ { grid-area: hand }
.buttons_ { grid-area: buttons }

.northrow_ {
  grid-area: board;
  align-self: start;
  margin-top: 4em;
}

.southrow_ {
  grid-area: board;
  align-self: end;
  margin-bottom: 4em;
}

a.uibutton {
  width: 10em;
  padding: 0.5em 0;
  text-decoration: none;
}
