body {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  background: repeating-linear-gradient(
    90deg,
    var(--south-muted),                 var(--north-muted)           1em,
    var(--grey-transparent-med)  1em,   var(--north-main)            2.5em,
    var(--black-transparent-med) 2.5em, var(--black-transparent-med) 4.5em,
    var(--south-main)            4.5em, var(--grey-transparent-med)  6em,
    var(--north-muted)           6em,   var(--south-muted)           7em);
}

html {
  background: url('img/r_c_tran.png');
}

body > div, body > form {
  box-shadow: 5px 10px 7px rgba(0, 0, 0, 0.5);
  background-image: url("img/paper_bg_transparent_med.png");
}

#config {
  padding: 0.4em 0.2em 0.6em;
}

#createdialog {
  min-width: 40%;
  max-width: 80%;
  border: 0.2em solid var(--ui-alt-saturated);
  background-color: var(--ui-alt-desaturated);
  color: var(--ui-main-dark);
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
  display: grid;
  color: var(ui-alt-dark);
  row-gap: 0.5em;
}

#createtable {
  padding: 0.4em;
}
#createtable:hover {
  box-shadow: inset -2px -2px 2px rgba(0, 12, 16, 0.3);
}

#tables {
  min-width: 80%;
  text-align: center;
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
  border: 0.2em solid var(--ui-alt-saturated);
  background-color: var(--ui-alt-desaturated);
  color: var(--ui-main-dark);
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

#tables p {
  grid-column: 1/3;
}

.table {
  border: 0.2em inset var(--ui-main-saturated);
  border-radius: 5px;
  padding: 5px 2px;
  margin: 2px;
  background-color: var(--ui-alt-light);
  text-align: center;
  cursor: pointer;
  color: var(--ui-alt-dark);
  text-shadow: -0.05em -0.05em 0.05em var(--white-transparent-med);
  display: flex;
  flex-flow: row wrap;
  place-content: space-around;
}

.table div {
  margin: 2px max(1vh, 1vw);
}

.table:hover {
  border-style: outset;
}

#player {
  position: absolute;
  top: 1em;
  right: 1em;
  display: grid;
  min-width: 30%;
  margin: 0.5em;
  border-radius: 0.5em;
  border: 0.2em inset var(--ui-main-dark);
  background-color: var(--ui-main-desaturated-transparent);
}

.playerdetails {
  grid-template-columns: 4em 1fr;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 4em;
  height: 4em;
}

#howto {
  position: absolute;
  top: 1em;
  left: 1em;
  margin: 0.5em;
  display: grid;
  border-radius: 0.5em;
}

#howto a.uibutton {
  text-decoration: none;
  padding: 0.5em 1em;
  background-color: var(--ui-main-desaturated-transparent);
}
