body {
  margin-top: 1em;
}

#nameform {
  max-width: 80%;
  max-height: 5em;
  border: 2px solid #556;
  background-color: #9AB;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
}

#createdialog {
  max-width: 80%;
  max-height: 5em;
  border: 2px solid #556;
  background-color: #ABB;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
}

#tables {
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
  border: 2px solid #556;
  background-color: #789;
}

.table {
  min-width: 8em;
  border: 2px inset #94B;
  border-radius: 5px;
  padding: 5px;
  background-color: #9BC;
  text-align: center;
  cursor: pointer;
}

.table:hover {
  border-style: outset;
}
